html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    background-image: url("../Images/background3.jpg");  
}

header {
    display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: rgb(124, 236, 189);
    z-index: 1;
}

#headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}

#headerNav > img {
    width: 7vw;
}

#headerNav > a:hover {
    color: rgb(209, 136, 0);
}

.headerNavActualElement {
    align-self: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
 }

.headerNavElement {
   align-self: center;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   text-decoration: none;
}


/* ////////////////////////////////////////////////////////////////////////////// */

.produse {
    margin-top: 10%;
}

#produs-h6 {
    display: flex;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    font-size: 3em;
}

.produse-linie-1
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-bautura1 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura1:hover {
    transform: scale(0.9);
}

.card-bautura-text-container1 {
    padding: 2px 16px;
    background-color: white;
}


.card-bautura2 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura2:hover {
    transform: scale(0.9);
}

.card-bautura-text-container2 {
    padding: 2px 16px;
    background-color: white;
}


.card-bautura3 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura3:hover {
    transform: scale(0.9);
}

.card-bautura-text-container3 {
    padding: 2px 16px;
    background-color: white;
}



.card-bautura4 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura4:hover {
    transform: scale(0.9);
}

.card-bautura-text-container4 {
    padding: 2px 16px;
    background-color: white;
}

/* /////////////////////////////////////////////////////////////////////////////////// */

.produse-linie-2
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-bautura5 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura5:hover {
    transform: scale(0.9);
}

.card-bautura-text-container5 {
    padding: 2px 16px;
    background-color: white;
}


.card-bautura6 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura6:hover {
    transform: scale(0.9);
}

.card-bautura-text-container6 {
    padding: 2px 16px;
    background-color: white;
}


.card-bautura7 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura7:hover {
    transform: scale(0.9);
}

.card-bautura-text-container7 {
    padding: 2px 16px;
    background-color: white;
}



.card-bautura8 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura8:hover {
    transform: scale(0.9);
}

.card-bautura-text-container8 {
    padding: 2px 16px;
    background-color: white;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.produse-linie-3
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-bautura9 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura9:hover {
    transform: scale(0.9);
}

.card-bautura-text-container9 {
    padding: 2px 16px;
    background-color: white;
}


.card-bautura10 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    transform: scale(0.8);
}

.card-bautura10:hover {
    transform: scale(0.9);
}

.card-bautura-text-container10 {
    padding: 2px 16px;
    background-color: white;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
    display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    background-color: black;
}

#footer-logo {
    margin-top: 5vh;
    margin-bottom: 5vh;
}